# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.spec
MODULE_FLOW.md
.gitignore
version_info.py

# Virtual environments
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Project specific
*.part
data/
log/
downloads/
bak/
html/
test_dedup_dir/

# OS
.DS_Store
Thumbs.db
